.app {
  text-align: center;
}

.treeWrapper {
  width: 100vw;
  height: 100vh;
}

.rd3t-node > circle {
  r: 30;
}

.rd3t-label__title {
  transform: translate(-45px, -40px);
}

.selected-circle {
  fill: #6495ed;
}
